<main class="hljs">
    <div class="container">
    {{#if didError }}
        <h2>Uh oh...</h2>
        <p>
            Could not grab the contents of the URL. Please check:
            <ul class="browser-default">
                <li>that the URL path is correct</li>
                <li>if that still doesn't work, the content in the website might not be formatted nicely for us to extract</li>
            </ul>
        </p>
        <div class="row">
            <button class="btn waves-effect waves-light" onclick="window.location.href='/read-novel'">Back
                <i class="material-icons left">arrow_back</i>
            </button>
        </div>
    {{else}}
        <h3>{{ textTitle }}</h3>
        {{#if textAlternativeTitles }}
        <h6>Alternative titles: {{ textAlternativeTitles }}</h6>
        {{/if}}
        <div class="flow-text tap-to-scroll">
            {{#each textParagraphs}}
            <p id="text-paragraph-{{@index}}">{{ this }}</p>
            {{/each}}
        </div>
        <div class="divider"></div>
        <p class="center" id="end-of-page">This is the end of the page</p>
        <div class="row">
            <div class="center">
                {{#if bookmark }}
                <button class="btn waves-effect waves-light" onclick="window.location.href='/bookmark'">Bookmarks
                    <i class="material-icons left">bookmarks</i>
                </button>
                {{else}}
                <button class="btn waves-effect waves-light" onclick="window.location.href='/read-novel'">Home
                    <i class="material-icons left">home</i>
                </button>
                {{/if}}
                {{#if nextPageLink }}
                <input id="next-page-url" type="hidden" value="{{ nextPageLink }}">
                <button id="next-page-button" class="btn waves-effect waves-light" onclick="nextPageClicked('{{ nextPageLink }}')">Next
                    <i class="material-icons right">arrow_forward</i>
                </button>
                {{/if}}
            </div>
        </div>
        <div id="nextpage-preloader" class="center" style="display: none;">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Going to next page in 3 seconds...</p>
        </div>

        <div id="fixed-controls-bar-container" class="btn-floating hide"> 
            <a id="controls-bar-fast-rewind" class="fixed-controls-bar-button btn">
                <i id="controls-bar-fast-rewind-icon" class="material-icons">fast_rewind</i>
            </a>
            <a id="controls-bar-play-pause" class="fixed-controls-bar-button btn">
                <i id="controls-bar-play-pause-icon" class="material-icons">play_arrow</i>
            </a>
            <a id="controls-bar-fast-forward" class="fixed-controls-bar-button btn">
                <i id="controls-bar-fast-forward-icon" class="material-icons">fast_forward</i>
            </a>
        </div>
        <div class="fixed-action-btn">
            <a id="floating-settings-button" class="btn-floating">
                <i class="material-icons">settings</i>
            </a>
            <ul>
                <li><a class="btn-floating tooltipped green" data-tooltip="Scroll to top" data-position="left" href="#scroll-to-top"><i class="material-icons" style="pointer-events:none;">publish</i></a></li>
                <li><a class="btn-floating tooltipped blue" data-tooltip="Open link in new tab" data-position="left" onclick="window.open('{{ currentPageLink }}', '_blank');"><i class="material-icons">launch</i></a></li>
                {{#if nextPageLink }}
                <li><a class="btn-floating tooltipped orange" data-tooltip="Next page" data-position="left" onclick="nextPageClicked('{{ nextPageLink }}')"><i class="material-icons">arrow_forward</i></a></li>
                {{/if}}
                {{#if bookmark }}
                <li><a class="btn-floating tooltipped indigo" data-tooltip="Bookmarks" data-position="left" onclick="window.location.href='/bookmark'"><i class="material-icons">bookmarks</i></a></li>
                {{/if}}
                <li><a class="btn-floating tooltipped" data-tooltip="Settings" data-position="left" onclick="openModal();"><i class="material-icons">mode_edit</i></a></li>
            </ul>
        </div>
    {{/if}}
    </div>
</main>

<!-- Modal Structure -->
<div id="settings-modal" class="modal bottom-sheet modal-fixed-footer">
    <div class="modal-content">
        <h4>Settings</h4>
        <div class="row">
            <div class="input-field col s12">
                <input id="url" placeholder="URL of the website that contains the text" type="url" class="validate" value="{{ currentPageLink }}">
                <label for="url">Article/Text URL</label>
            </div>
        </div>
        <div class="row">
            <label class="col s6">
                <input id="autoscroll-read" type="checkbox"/>
                <span>Automatically scroll based on reading speed</span>
            </label>
            <div class="input-field col s6">
                <input id="words-per-minute" placeholder="270" type="number" class="validate">
                <label for="words-per-minute">Reading Speed (WPM)</label>
                <span class="helper-text" data-error="Please enter a valid number"></span>
            </div>
        </div>
        <div class="row">
            <label class="col s6">
                <input id="autoscroll-text-to-speech" type="checkbox"/>
                <span>Automatically scroll with text to speech</span>
            </label>
            <div class="range-field col s6">
                <label for="text-to-speech-rate">Text-to-Speech Rate</label>
                <input id="text-to-speech-rate" value="1" type="range" min="1" max="7">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label>Select Voice</label>
                <select id="text-to-speech-voice-select">
                </select>
            </div>
        </div>
        <div class="row">
            <label class="col s12">
                <input id="autoload-next" type="checkbox"/>
                <span>Automatically load next page</span>
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <a id="apply" class="modal-close waves-effect waves-green btn-flat">Apply</a>
    </div>
</div>
<input id="read-bookmark-id" type="hidden" value="{{ bookmark }}"/>