<main id="home-body">
    <div id="profile-background"></div>
    <div class="container">

        <div id="profile-header">
            <div id="profile-description-group">
                <img id="profile-picture" class="responsive-img" src="img/index/profile-picture.jpg" alt="profile-picture">
                <h3 id="profile-name">Aung Moe</h3>
                <div id="profile-job" style="font-size: 25px;">Software Engineer</div>
                <div class="row-m-b-0 center">
                    <h1 id="profile-title-message">
                        {{#each data.occupations}}
                        <div id="states-{{@index}}" class="states" data-value="{{this.state}}">
                            {{this.state}}
                        </div>
                        <div id="occupations-{{@index}}" class="occupations" data-value="{{this.occupation}}">
                            {{this.occupation}}
                        </div>
                        {{/each}}
                    </h1>
                </div>
            </div>
        </div>

        <div id="recent-highlights">
            <h3>Recent Highlights</h3>
            <div class="row">
                <!-- PC View -->
                <div class="col s12 m12 l4 hide-on-med-and-down">
                    <h5>
                        <i class="material-icons">calendar_today</i> July 21, 2018
                    </h5>
                    <div class="card hoverable large">
                        <div class="card-content">
                            <span class="card-title">New Personal Website</span>
                            <p>
                                This is my new personal website! I've been wanting to create a new personal website for a while and finally got to it. I
                                think it's an improvement from my
                                <a href="https://logicxd.github.io/codemoe/">old one</a>. The tools used to create this are ExpressJS, Materialize, Material Icons, and
                                Handlebar.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l4 hide-on-med-and-down">
                    <h5>
                        <i class="material-icons">calendar_today</i> June 16, 2018
                    </h5>
                    <div class="card hoverable large">
                        <div class="card-image">
                            <a href="https://photos.app.goo.gl/z9ctjcqYPz4tj2LD6" target="_blank">
                                <img src="https://lh3.googleusercontent.com/Gz1oGOjhdVmfVJPyZDrdeIjVmxMYUabBDGBjw2jCJUu9ONFSZoeFLfSrbvql2cJEt0XFYldvnvzPCPs7Mj1OZ-lf2epZerYkrwtJq8BfLHo0FnFgEZDyW1zWTOh3WtVlGch2TAhdkf1_gjAw829vV-bVNlFUDo42B7iZIqGHLeDXWEBHxIMbtmSBDgG0CHUftU5El4mg9zf8G4cRztj7HK5ScuKtykwdk2wyoXqAj1xk8nGsOacuivpMl1ewiXU10u7UatDbZtaJRxoAzR7G7_n34mFfgrElewXaRx2OATTKjHfy6ZIIgQfINf8Vsxxf3mwleRXNkUsGTm-nJSjFzJdmOOItbUaE0-PgHq52ko2oOMNMevBUeiqua0owqQAiFQPdy9awKz8rPquLP6GK05XAYFU4s2UKsEOkDP3lzCx8Cv4gQmbGKZXab2JunQIfE-j_rmZ5GE6ulDcvNeCBLc1OGOiGwSux3KMBQxy5bRhtuVNfdzyK2Qt9eueWPp9q_AMu48zztW4Br1HgnQgFAsXHhZZsj0dmgOFu2X5qXPfG6AIqVhjn5KsrHQkxVQgHLHFJsCkc2ktub5VtftrUQXi37hiulQu31V8r3eXkRBVXJtaAR9TIMBXV__5-6ui1INke_IvZWit_Qjz78dNB9ykbj50DwsXV=w1679-h925-no">
                            </a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">Graduated!</span>
                            <p>
                                Earned my B.S. in Computer Science from University of California Irvine!
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="https://photos.app.goo.gl/z9ctjcqYPz4tj2LD6" target="_blank">Pictures</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l4 hide-on-med-and-down">
                    <h5>
                        <i class="material-icons">calendar_today</i> Dec. 20, 2017
                    </h5>
                    <div class="card hoverable large">
                        <div class="card-image">
                            <a href="https://github.com/logicxd/Wumpus-World-AI" target="_blank">
                                <img src="https://wumpusproject.files.wordpress.com/2012/11/img12.gif">
                            </a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">AI Class Tournament</span>
                            <p>
                                Placed 2nd in a class tournmant in making an AI bot.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="https://github.com/logicxd/Wumpus-World-AI" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>

                <!-- Mobile View -->
                <div class="carousel carousel-slider show-on-medium-and-down">
                    <div class="carousel-item" href="#one!">
                        <div>
                            <h2 class="m-b-0">New Personal Website</h2>
                            <p class="m-t-0">July 21, 2018</p>
                        </div>
                        <div class="row carousel-row">
                            <div class="col carousel-description-container">
                                This is my new personal website! I've been wanting to create a new personal website for a while and finally got to it. I
                                think it's an improvement from my
                                <a href="https://logicxd.github.io/codemoe/">old one</a>. The tools used to create this are ExpressJS, Materialize, Material Icons, and
                                Handlebar.
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" href="#one!">
                        <div>
                            <h2 class="m-b-0">Graduated</h2>
                            <p class="m-t-0">June 16, 2018</p>
                        </div>
                        <div class="row carousel-row">
                            <div class="col s6 carousel-img-container">
                                <img class="materialboxed carousel-img" src="https://lh3.googleusercontent.com/Gz1oGOjhdVmfVJPyZDrdeIjVmxMYUabBDGBjw2jCJUu9ONFSZoeFLfSrbvql2cJEt0XFYldvnvzPCPs7Mj1OZ-lf2epZerYkrwtJq8BfLHo0FnFgEZDyW1zWTOh3WtVlGch2TAhdkf1_gjAw829vV-bVNlFUDo42B7iZIqGHLeDXWEBHxIMbtmSBDgG0CHUftU5El4mg9zf8G4cRztj7HK5ScuKtykwdk2wyoXqAj1xk8nGsOacuivpMl1ewiXU10u7UatDbZtaJRxoAzR7G7_n34mFfgrElewXaRx2OATTKjHfy6ZIIgQfINf8Vsxxf3mwleRXNkUsGTm-nJSjFzJdmOOItbUaE0-PgHq52ko2oOMNMevBUeiqua0owqQAiFQPdy9awKz8rPquLP6GK05XAYFU4s2UKsEOkDP3lzCx8Cv4gQmbGKZXab2JunQIfE-j_rmZ5GE6ulDcvNeCBLc1OGOiGwSux3KMBQxy5bRhtuVNfdzyK2Qt9eueWPp9q_AMu48zztW4Br1HgnQgFAsXHhZZsj0dmgOFu2X5qXPfG6AIqVhjn5KsrHQkxVQgHLHFJsCkc2ktub5VtftrUQXi37hiulQu31V8r3eXkRBVXJtaAR9TIMBXV__5-6ui1INke_IvZWit_Qjz78dNB9ykbj50DwsXV=w1679-h925-no">
                            </div>
                            <div class="col s6 carousel-description-container">
                                Earned my B.S. in Computer Science from University of California Irvine!

                                <div class="carousel-description-button-container">
                                    <a href="https://photos.app.goo.gl/z9ctjcqYPz4tj2LD6" target="_blank">
                                        PICTURES
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" href="#one!">
                        <div>
                            <h2 class="m-b-0">AI Class Tournament</h2>
                            <p class="m-t-0">Dec. 20, 2017</p>
                        </div>
                        <div class="row carousel-row">
                            <div class="col s6 carousel-img-container">
                                <img class="materialboxed carousel-img" src="https://user-images.githubusercontent.com/12219300/43773157-a362492e-99f9-11e8-8836-15771b6dfd99.gif">
                            </div>
                            <div class="col s6 carousel-description-container">
                                Placed 2nd in a class tournmant in making an AI bot.

                                <div class="carousel-description-button-container">
                                    <a href="https://github.com/logicxd/Wumpus-World-AI" target="_blank">
                                        GITHUB
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="divider"></div>

        <div id="education">
            <h3>Education</h3>

            <div class="row">
                <div class="col s3 m2 l1">
                    <img src="img/index/education-uci.png" class="responsive-img">
                </div>
                <div class="col s9 m7 l8">
                    <h5 class="m-t-0">University of California, Irvine</h5>
                    <h6 class="show-on-small">2016 - 2018</h6>
                    <h6>Bachelor of Science in Computer Science</h6>
                    <h6>GPA 3.75 - Cum Laude</h6>
                </div>
                <div class="col s0 m3 l3 hide-on-small-only">
                    <h5 class="right-align education-year">
                        2016 - 2018
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col s3 m2 l1">
                    <img src="img/index/education-csm.jpg" class="responsive-img">
                </div>
                <div class="col s9 m7 l8">
                    <h5 class="m-t-0">College of San Mateo</h5>
                    <h6 class="show-on-small">2013 - 2016</h6>
                    <h6>Associate of Science in Computer &amp; Information, Mathematics, and Physics</h6>
                    <h6>GPA 3.65 (3.90 CS) - Magna Cum Laude</h6>
                </div>
                <div class="col s0 m3 l3 hide-on-small-only">
                    <h5 class="right-align education-year">
                        2013 - 2016
                    </h5>
                </div>
            </div>
        </div>
        <div class="divider"></div>

        <div id="projects">
            <h3>Projects</h3>
            {{#each data.projects}}
             <div class="project-row">
                <div class="col s12 m6">
                    <img class="materialboxed projects-image" src="{{this.image}}">
                </div>
                <div class="col s12 m6 projects-description-container">
                    <h5>{{this.title}}</h5>
                    {{#each this.skills}}
                    <div class="chip">
                        <img src="{{this.image}}" alt="Skill Icon"> {{this.name}}
                    </div>
                    {{/each}}
                    <p>
                        {{{this.description}}}
                    </p>
                    <div class="projects-description-button-container">
                        {{#if this.github }}
                        <a href="{{this.github}}" target="_blank" class="waves-effect waves-light btn projects-description-button">
                            <i class="fab fa-github"></i> GitHub</i>
                        </a>
                        {{/if}}
                        {{#if this.website }}
                         <a href="{{this.website.link}}" target="_blank" class="waves-effect waves-light btn projects-description-button">
                            <i class="fas fa-link"></i> {{this.website.name}}</i>
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>