<main id="home-body">
    <div id="profile-background"></div>
    <div class="container">

        <div id="profile-header">
            <div id="profile-description-group">
                <img id="profile-picture" class="responsive-img" src="img/profile-picture.jpg" alt="profile-picture">
                <h3 id="profile-name">Aung Moe</h3>
                <div id="profile-job" style="font-size: 25px;">Software Engineer</div>
                <div class="row-m-b-0 center">
                    <h1 id="profile-title-message">
                        {{#each occupations}}
                        <div id="states-{{@index}}" class="states" data-value="{{this.state}}">
                            {{this.state}}
                        </div>
                        <div id="occupations-{{@index}}" class="occupations" data-value="{{this.occupation}}">
                            {{this.occupation}}
                        </div>
                        {{/each}}
                    </h1>
                </div>
            </div>
        </div>

        <div id="recent-highlights">
            <h4>Recent Highlights</h4>
            <div class="row">
                <div class="col s4">
                    <h5>
                        <i class="material-icons">calendar_today</i> July 21, 2018
                    </h5>
                    <div class="card hoverable large">
                        <div class="card-content">
                            <span class="card-title">New Personal Website</span>
                            <p>
                                This is my new personal website! I've been wanting to create a new personal website for a while and finally got to it. 
                                I think it's an improvement from my
                                <a href="https://logicxd.github.io/codemoe/">old one</a>. 
                                The tools used to create this are ExpressJS, Materialize, Material Icons, and Handlebar.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <h5>
                        <i class="material-icons">calendar_today</i> June 16, 2018
                    </h5>
                    <div class="card hoverable large">
                        <div class="card-image">
                            <a href="https://photos.app.goo.gl/z9ctjcqYPz4tj2LD6" target="_blank">
                                <img src="https://lh3.googleusercontent.com/Gz1oGOjhdVmfVJPyZDrdeIjVmxMYUabBDGBjw2jCJUu9ONFSZoeFLfSrbvql2cJEt0XFYldvnvzPCPs7Mj1OZ-lf2epZerYkrwtJq8BfLHo0FnFgEZDyW1zWTOh3WtVlGch2TAhdkf1_gjAw829vV-bVNlFUDo42B7iZIqGHLeDXWEBHxIMbtmSBDgG0CHUftU5El4mg9zf8G4cRztj7HK5ScuKtykwdk2wyoXqAj1xk8nGsOacuivpMl1ewiXU10u7UatDbZtaJRxoAzR7G7_n34mFfgrElewXaRx2OATTKjHfy6ZIIgQfINf8Vsxxf3mwleRXNkUsGTm-nJSjFzJdmOOItbUaE0-PgHq52ko2oOMNMevBUeiqua0owqQAiFQPdy9awKz8rPquLP6GK05XAYFU4s2UKsEOkDP3lzCx8Cv4gQmbGKZXab2JunQIfE-j_rmZ5GE6ulDcvNeCBLc1OGOiGwSux3KMBQxy5bRhtuVNfdzyK2Qt9eueWPp9q_AMu48zztW4Br1HgnQgFAsXHhZZsj0dmgOFu2X5qXPfG6AIqVhjn5KsrHQkxVQgHLHFJsCkc2ktub5VtftrUQXi37hiulQu31V8r3eXkRBVXJtaAR9TIMBXV__5-6ui1INke_IvZWit_Qjz78dNB9ykbj50DwsXV=w1679-h925-no">
                            </a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">Graduated!</span>
                            <p>
                                Earned my B.S. in Computer Science from University of California Irvine!
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="https://photos.app.goo.gl/z9ctjcqYPz4tj2LD6" target="_blank">Pictures</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <h5>
                        <i class="material-icons">calendar_today</i> December 20, 2017
                    </h5>
                    <div class="card hoverable large">
                        <div class="card-image">
                            <a href="https://github.com/logicxd/Wumpus-World-AI" target="_blank">
                                <img src="https://wumpusproject.files.wordpress.com/2012/11/img12.gif">
                            </a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">AI Class Tournament</span>
                            <p>
                                Placed 2nd in a class tournmant in making an AI bot.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="https://github.com/logicxd/Wumpus-World-AI" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="projects">
            <h4>Projects</h4>
            <div class="row">
                <div class="col s8">
                    <img class="materialboxed projects-image" src="https://lh3.googleusercontent.com/Gz1oGOjhdVmfVJPyZDrdeIjVmxMYUabBDGBjw2jCJUu9ONFSZoeFLfSrbvql2cJEt0XFYldvnvzPCPs7Mj1OZ-lf2epZerYkrwtJq8BfLHo0FnFgEZDyW1zWTOh3WtVlGch2TAhdkf1_gjAw829vV-bVNlFUDo42B7iZIqGHLeDXWEBHxIMbtmSBDgG0CHUftU5El4mg9zf8G4cRztj7HK5ScuKtykwdk2wyoXqAj1xk8nGsOacuivpMl1ewiXU10u7UatDbZtaJRxoAzR7G7_n34mFfgrElewXaRx2OATTKjHfy6ZIIgQfINf8Vsxxf3mwleRXNkUsGTm-nJSjFzJdmOOItbUaE0-PgHq52ko2oOMNMevBUeiqua0owqQAiFQPdy9awKz8rPquLP6GK05XAYFU4s2UKsEOkDP3lzCx8Cv4gQmbGKZXab2JunQIfE-j_rmZ5GE6ulDcvNeCBLc1OGOiGwSux3KMBQxy5bRhtuVNfdzyK2Qt9eueWPp9q_AMu48zztW4Br1HgnQgFAsXHhZZsj0dmgOFu2X5qXPfG6AIqVhjn5KsrHQkxVQgHLHFJsCkc2ktub5VtftrUQXi37hiulQu31V8r3eXkRBVXJtaAR9TIMBXV__5-6ui1INke_IvZWit_Qjz78dNB9ykbj50DwsXV=w1679-h925-no">
                </div>
                <div class="col s4 projects-description-container">
                    <h5>QuartoAI</h5>
                    <div class="chip">
                        <img src="img/profile-picture.jpg" alt="Contact Person"> Jane Doe
                    </div>
                    <p>
                        Description Text
                    </p>
                    <div class="projects-description-links">
                        LinkedIn
                    </div>
                </div>
            </div>
        </div>

        <div id="education">
            <h4>Education</h4>

        </div>
    </div>
</main>