<main id="home-body">
    <div id="profile-background"></div>
    <div class="container">

        <div id="profile-header">
            <div id="profile-description-group">
                <img id="profile-picture" class="responsive-img" src="img/profile-picture.jpg" alt="profile-picture">
                <h3 id="profile-name">Aung Moe</h3>
                <div id="profile-job" style="font-size: 25px;">Software Engineer</div>
                <div class="row-m-b-0 center">
                    <h1 id="profile-title-message">
                        {{#each occupations}}
                        <div id="states-{{@index}}" class="states" data-value="{{this.state}}">
                            {{this.state}}
                        </div>
                        <div id="occupations-{{@index}}" class="occupations" data-value="{{this.occupation}}">
                            {{this.occupation}}
                        </div>
                        {{/each}}
                    </h1>
                </div>
            </div>
        </div>

        <div id="recent-highlights">
            <h3>Recent Highlights</h3>
            <div class="row">
                <div class="col s12 m12 l4 hide-on-med-and-down">
                    <h5>
                        <i class="material-icons">calendar_today</i> July 21, 2018
                    </h5>
                    <div class="card hoverable large">
                        <div class="card-content">
                            <span class="card-title">New Personal Website</span>
                            <p>
                                This is my new personal website! I've been wanting to create a new personal website for a while and finally got to it. I
                                think it's an improvement from my
                                <a href="https://logicxd.github.io/codemoe/">old one</a>. The tools used to create this are ExpressJS, Materialize, Material Icons, and
                                Handlebar.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l4 hide-on-med-and-down">
                    <h5>
                        <i class="material-icons">calendar_today</i> June 16, 2018
                    </h5>
                    <div class="card hoverable large">
                        <div class="card-image">
                            <a href="https://photos.app.goo.gl/z9ctjcqYPz4tj2LD6" target="_blank">
                                <img src="https://lh3.googleusercontent.com/Gz1oGOjhdVmfVJPyZDrdeIjVmxMYUabBDGBjw2jCJUu9ONFSZoeFLfSrbvql2cJEt0XFYldvnvzPCPs7Mj1OZ-lf2epZerYkrwtJq8BfLHo0FnFgEZDyW1zWTOh3WtVlGch2TAhdkf1_gjAw829vV-bVNlFUDo42B7iZIqGHLeDXWEBHxIMbtmSBDgG0CHUftU5El4mg9zf8G4cRztj7HK5ScuKtykwdk2wyoXqAj1xk8nGsOacuivpMl1ewiXU10u7UatDbZtaJRxoAzR7G7_n34mFfgrElewXaRx2OATTKjHfy6ZIIgQfINf8Vsxxf3mwleRXNkUsGTm-nJSjFzJdmOOItbUaE0-PgHq52ko2oOMNMevBUeiqua0owqQAiFQPdy9awKz8rPquLP6GK05XAYFU4s2UKsEOkDP3lzCx8Cv4gQmbGKZXab2JunQIfE-j_rmZ5GE6ulDcvNeCBLc1OGOiGwSux3KMBQxy5bRhtuVNfdzyK2Qt9eueWPp9q_AMu48zztW4Br1HgnQgFAsXHhZZsj0dmgOFu2X5qXPfG6AIqVhjn5KsrHQkxVQgHLHFJsCkc2ktub5VtftrUQXi37hiulQu31V8r3eXkRBVXJtaAR9TIMBXV__5-6ui1INke_IvZWit_Qjz78dNB9ykbj50DwsXV=w1679-h925-no">
                            </a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">Graduated!</span>
                            <p>
                                Earned my B.S. in Computer Science from University of California Irvine!
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="https://photos.app.goo.gl/z9ctjcqYPz4tj2LD6" target="_blank">Pictures</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l4 hide-on-med-and-down">
                    <h5>
                        <i class="material-icons">calendar_today</i> Dec. 20, 2017
                    </h5>
                    <div class="card hoverable large">
                        <div class="card-image">
                            <a href="https://github.com/logicxd/Wumpus-World-AI" target="_blank">
                                <img src="https://wumpusproject.files.wordpress.com/2012/11/img12.gif">
                            </a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">AI Class Tournament</span>
                            <p>
                                Placed 2nd in a class tournmant in making an AI bot.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="https://github.com/logicxd/Wumpus-World-AI" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>

                  <div class="carousel carousel-slider">
                    <div class="carousel-item" href="#one!">
                        <h5>
                            <i class="material-icons">calendar_today</i> Dec. 20, 2017
                        </h5>

                        <div class="">
                            <a href="https://github.com/logicxd/Wumpus-World-AI" target="_blank">
                                <img src="https://wumpusproject.files.wordpress.com/2012/11/img12.gif">
                            </a>
                        </div>
                        <div class="">
                            <span class="card-title">AI Class Tournament</span>
                            <p>
                                Placed 2nd in a class tournmant in making an AI bot.
                            </p>
                        </div>
                        <div class="">
                            <a href="https://github.com/logicxd/Wumpus-World-AI" target="_blank">GitHub</a>
                        </div>
                    </div>
                    
                    <div class="carousel-item amber white-text" href="#two!">
                        <h2>Second Panel</h2>
                        <p class="white-text">This is your second panel</p>
                    </div>
                    <div class="carousel-item green white-text" href="#three!">
                        <h2>Third Panel</h2>
                        <p class="white-text">This is your third panel</p>
                    </div>
                    <div class="carousel-item blue white-text" href="#four!">
                        <h2>Fourth Panel</h2>
                        <p class="white-text">This is your fourth panel</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>

        <div id="education">
            <h3>Education</h3>

            <div class="row">
                <div class="col s1">
                    <img src="img/education-uci.png" class="responsive-img">
                </div>
                <div class="col s8">
                    <h5 class="m-t-0">University of California, Irvine</h5>
                    <h6>Bachelor of Science in Computer Science</h6>
                    <h6>GPA 3.75 - Cum Laude</h6>
                </div>
                <div class="col s3">
                    <h5 class="right-align">
                        2016 - 2018
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col s1">
                    <img src="img/education-csm.jpg" class="responsive-img">
                </div>
                <div class="col s8">
                    <h5 class="m-t-0">College of San Mateo</h5>
                    <h6>Associate of Science in Computer &amp; Information, Mathematics, and Physics</h6>
                    <h6>GPA 3.65 (3.90 CS) - Magna Cum Laude</h6>
                </div>
                <div class="col s3">
                    <h5 class="right-align">
                         2013 - 2016
                    </h5>
                </div>
            </div>
        </div>
        <div class="divider"></div>

        <div id="projects">
            <h3>Projects</h3>

            <div class="project-row">
                  <div class="col s6">
                    <img class="materialboxed projects-image" src="img/wumpus-world.gif">
                </div>
                <div class="col s6 projects-description-container">
                    <h5>Wumpus World AI</h5>
                    <div class="chip">
                        <img src="img/skills/java.svg" alt="Skill Icon"> Java
                    </div>
                    <p>
                        <b>2nd highest scoring AI bot</b> for a class tournament that aims to find the gold and escape the Wumpus World with the best possible
                        score.
                    </p>

                    <div class="projects-description-button-container">
                        <a href="https://github.com/logicxd/Wumpus-World-AI" target="_blank" class="waves-effect waves-light btn projects-description-button"><i class="fab fa-github"></i> GitHub</i></a>
                    </div>
                </div>
              
            </div>

            <div class="project-row">
                 <div class="col s6">
                    <img class="materialboxed projects-image" src="https://cloud.githubusercontent.com/assets/12219300/19020274/4048cef2-8859-11e6-9ae5-223f17347e6f.gif">
                </div>
                <div class="col s6 projects-description-container">
                    <h5>QuartoAI</h5>
                    <div class="chip">
                        <img src="img/skills/objective-c.svg" alt="Skill Icon"> Objective-C
                    </div>
                    <p>
                        A Quarto board game mimic that you can play against your friend or play against <b>an advanced bot that will never lose!</b>
                    </p>
                     <div class="projects-description-button-container">
                        <a href="https://github.com/logicxd/QuartoAI" target="_blank" class="waves-effect waves-light btn projects-description-button"><i class="fab fa-github"></i> GitHub</i></a>
                    </div>
                </div>
               
            </div>

            <div class="project-row">
                 <div class="col s6">
                    <img class="materialboxed projects-image" src="https://user-images.githubusercontent.com/12219300/43705372-24761024-9917-11e8-80c5-424853bf46be.gif">
                </div>
                <div class="col s6 projects-description-container">
                    <h5>Church Web Application</h5>
                    <div class="row">
                        <div class="chip">
                            <img src="img/skills/javascript.svg" alt="Skill Icon"> JavaScript
                        </div>
                        <div class="chip">
                            <img src="img/skills/nodejs.png" alt="Skill Icon"> NodeJS
                        </div>
                    </div>
                    <p>
                        Practiced web development while building a sample church website that may be used in a church that I go to.
                    </p>
                    <div class="projects-description-button-container">
                        <a href="https://github.com/logicxd/Church-WebApp-Template" target="_blank" class="waves-effect waves-light btn projects-description-button"><i class="fab fa-github"></i> GitHub</i></a>
                        <a href="https://aungmoe-church.herokuapp.com/" target="_blank" class="waves-effect waves-light btn projects-description-button"><i class="fas fa-link"></i> Demo</i></a>
                    </div>
                </div>
               
            </div>
        </div>

    </div>
</main>